src/main/mule/collectors/external/systems/collector-azuredevops.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="collector-azuredevops-metrics-flow" doc:id="b7ea5168-d0f5-4749-bdb6-928480016a89" >
		<choice doc:name="AzureDevOps metrics enabled" doc:id="118bba81-d9de-4c47-8bac-fe2e2d50a392" >
			<when expression='#[vars.sdlcDetails.azuredevops.enabled == "true"]'>
				<scatter-gather doc:name="Scatter-Gather" doc:id="5cd4d4cd-2d45-491b-8f19-afa9b187c014" >
					<route >
						<ee:transform doc:name="Set Backlog Query" doc:id="ce84df7d-2f31-4e10-93cc-d2fe50d5f242">
							<ee:message>
							</ee:message>
							<ee:variables>
								<ee:set-variable resource="dw/sdlc/azure-backlog-query.dwl" variableName="queryDetails" />
							</ee:variables>
						</ee:transform>
						<flow-ref doc:name="get-azure-devops-query" doc:id="08a63d96-8fcc-4fe3-b468-9e2748450c23" name="get-azure-devops-query"/>
					</route>
					<route >
						<ee:transform doc:name="Set Current Sprint Query" doc:id="f815dc6d-eae4-48ea-b92f-130a88573ba5" >
							<ee:message >
							</ee:message>
							<ee:variables >
								<ee:set-variable resource="dw/sdlc/azure-sprint-query.dwl" variableName="queryDetails" />
							</ee:variables>
						</ee:transform>
						<flow-ref doc:name="get-azure-devops-query" doc:id="441361e6-c534-4985-9e3d-e6383a88584c" name="get-azure-devops-query"/>
					</route>
					<route >
						<flow-ref doc:name="get-azure-devops-builds" doc:id="04f43640-994d-47c2-a1fa-a0a85366d98b" name="get-azure-devops-builds"/>
					</route>
					<route >
						<flow-ref doc:name="get-azure-devops-repos" doc:id="424e8e8e-ea6a-4cca-a3c5-7d650e27793a" name="get-azure-devops-repos" />
					</route>
				</scatter-gather>
			</when>
			<otherwise >
				<set-payload value="#[null]" doc:name="Set Null Payload" doc:id="564171ab-9678-4e27-b5ee-1f47140d9533" />
			</otherwise>
		</choice>
	</flow>
</mule>
